@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral-0: hsl(0, 0%, 100%);

    --orange: hsl(28, 100%, 52%);

    --blue-700: hsl(248, 70%, 36%);
    --blue-500: hsl(233, 67%, 56%);

    --fs-96: 96px;
    --fs-52: 52px;
    --fs-32: 32px;
    --fs-28: 28px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;

    --fw-bold: 600;
    --fw-semi-bold: 500;
    --fw-medium: 400;
    --fw-light: 300;

    --spacing-0: 0;
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-6: 6px;
    --spacing-8: 8px;
    --spacing-10: 10px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-64: 64px;
    --spacing-80: 80px;
    --spacing-96: 96px;
    --spacing-112: 112px;
    --spacing-128: 128px;
    --spacing-140: 140px;

    --radius-0: 0;
    --radius-4: 4px;
    --radius-6: 6px;
    --radius-8: 8px;
    --radius-10: 10px;
    --radius-12: 12px;
    --radius-16: 16px;
    --radius-20: 20px;
    --radius-24: 24px;
    --radius-full: 999px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--neutral-900);
}
